// Ogre overlay scripts
Opde/OpdeDebugOverlay
{
	zorder 500
	// Stats block
	container BorderPanel(Opde/OpdeStatPanel)
	{
		metrics_mode pixels
		vert_align top
		left 5 
		top 5
		width 180
		height 70

		    
		element TextArea(Opde/Title)
		{
			metrics_mode pixels
			left 5
			top 5
			width 90
			height 30
			font_name DebugFont
			char_height 19
			caption Portal Statistics
			colour_top 1 1 0.7
			colour_bottom 1 1 0.7
		}
		
		element TextArea(Opde/BackCulls)
		{
			metrics_mode pixels
			left 5
			top 25
			width 90
			height 30
			font_name DebugFont
			char_height 16
			caption Backface culls:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Opde/EvalPorts)
		{
			metrics_mode pixels
			left 5
			top 40
			width 90
			height 30
			font_name DebugFont
			char_height 16
			caption Evaluated Portals:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		element TextArea(Opde/RendCells)
		{
			metrics_mode pixels
			left 5
			top 55
			width 90
			height 30
			font_name DebugFont
			char_height 16
			caption Rendered Cells:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
				
		element TextArea(Opde/TravTime)
		{
			metrics_mode pixels
			left 5
			top 70
			width 90
			height 30
			font_name DebugFont
			char_height 16
			caption Traversal Time:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		
		element TextArea(Opde/StaticRenderTime)
		{
			metrics_mode pixels
			left 5
			top 85
			width 90
			height 30
			font_name DebugFont
			char_height 16
			caption Static Render Time:
			colour_top 0.5 0.7 0.5
			colour_bottom 0.3 0.5 0.3
		}
		

	}
}
